<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083334946214-4usa01ba03vkff0m9atfqgbrvfobk8hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083334946214-4usa01ba03vkff0m9atfqgbrvfobk8hc</string>
	<key>API_KEY</key>
	<string>AIzaSyASWrWqn_VrGJ1GVMBMwGMjuVO0WwHjCWU</string>
	<key>GCM_SENDER_ID</key>
	<string>1083334946214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info.JustExploreTravelApp</string>
	<key>PROJECT_ID</key>
	<string>justexploretravelapp</string>
	<key>STORAGE_BUCKET</key>
	<string>justexploretravelapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083334946214:ios:7e0308b1e2b5764dc73367</string>
</dict>
</plist>